@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.table-data-status {
  display: flex;
  min-height: 2rem;
  min-width: 5rem;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
  // background-color: $theme_color_light_blue_2x;
  border: 1px solid $theme_color_blue;
  cursor: pointer;
}

.access-management-user {
  display: flex;
  flex-direction: column;
}

.create-specialist {
  background-color: $theme_color_blue;
  color: $theme_color_white;
}

.specialist-actions {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.specialist-actions > div {
  padding: 2px 0.5rem;
  border-radius: 0.5rem;
}

.text {
  font-size: 0.75rem;
  color: $theme_color_8;
}

.chat-specialist {
  display: flex;
  font-size: 0.75rem;

  gap: 2px;
  background-color: $theme_color_blue;
  color: $theme_color_white;
}

.cancel-itinerary {
  display: flex;
  gap: 2px;
  font-size: 0.75rem;
  color: $theme_color_blue;
}

.blocked {
  background-color: red !important;
  color: white;
}

.traveller-search {
  position: relative;
  display: flex;
}

.traveller-search-input {
  width: 100%;
  height: 100%;
  min-height: 3rem;
  min-width: 12rem;
  padding-left: 1.5rem;
}

.traveller-search-go {
  width: 100%;
  height: 100%;
  min-height: 3rem;
  background: rgb(7, 195, 7);
  color: $theme_color_white;
  display: flex;
  align-items: center;
  padding: 0.75rem;
  cursor: pointer;
  border-top-right-radius: 0.25rem;
  border-bottom-right-radius: 0.25rem;
}
.search-icon {
  position: absolute;
  left: 0;
  padding-left: 0.25rem;
  font-size: 1.5rem;
  top: 25%;
}

.traveller-top {
  display: flex;
  gap: 0.5rem;
  align-items: center;
}

.specialist-delete {
  display: flex;
  gap: 2px;
  border: 1px solid red;
  color: black;
}

.specialist-delete:hover {
  background: red !important;
  color: white !important;
}
