@import "../../styles/configs/colors";
@import "../../styles/configs/ui";

.specialist-details {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.feild-heading {
  margin-top: 0.5rem;
  height: 1.25rem;
  font-size: 0.9rem;
  padding: 0 0 0.5rem;
  font-weight: 600;
}

.input {
  font-size: 0.8rem;
  font-weight: 400;
}

.specialist-basic {
  display: flex;
  width: 60%;
  flex-direction: column;
}

.upload-image {
  max-width: 200px;
  max-height: 100px;
  border-radius: 0.5rem;
  cursor: pointer;
  margin-top: 0.25rem;
  display: flex;
  flex: 1;
  align-items: center;
  object-fit: cover;
}

.image-placeholder {
  width: 2.5rem;
  height: 2.5rem;
  margin: 1.5rem 0px;
  text-align: center;
  flex: 1;
  color: $theme_color_light_grey;
}

.not-selected-preview {
  background-color: $theme_color_light_blue_3x;
  width: 200px;
  height: 100px;
}

.button-submit-itinerary {
  width: 70%;
  display: grid;
  justify-content: center;
  align-items: center;
  margin-top: 2.25rem;
  margin-bottom: 1.5rem;
  height: 3rem;
  border: none;
  border-radius: 0.5rem;
  background-color: $theme_color_light_blue;
  color: white;
  font-size: large;
}

.permissions-container {
  width: 100%;
  // max-height: 228px;
  margin-top: 0.75rem;
  padding: 0.5rem;
  gap: 0.75rem;
  border-radius: 0.5rem;
  display: flex;
  flex-direction: column;
  background-color: $gray-200;
}

.line {
  width: 100%;
  height: 0.5px;
  padding: 0px;
  background-color: $theme_color_light_blue;
}
