@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.table-data-status {
  display: flex;
  min-height: 2rem;
  min-width: 5rem;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
  background-color: $theme_color_light_blue_2x;
}

.access-management-user {
  display: flex;
  flex-direction: column;
}

.access-table-list {
  max-height: calc(100vh - 14rem);
}

.create-specialist {
  padding: 0.75rem 1rem;
  background-color: $theme_color_blue;
  color: $theme_color_white;
}

.specialist-actions {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.specialist-actions > div {
  background-color: $theme_color_light_blue_2x;
  padding: 2px 0.5rem;
  border-radius: 0.5rem;
}

.text {
  font-size: 0.75rem;
  color: $theme_color_8;
}

.specialist-edit {
  display: flex;
  gap: 2px;
}

.specialist-delete {
  display: flex;
  gap: 2px;
  background-color: red !important;
  color: $theme_color_white !important;
}

.specialist-ratings {
  display: flex;
  align-items: center;
  gap: 2px;
}

.star-rating {
  font-size: 1rem;
  color: #fcca00;
}

.list-specialist {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.activate {
  background: $theme_color_blue !important;
  color: $theme_color_white;
  cursor: pointer;
}

.specialist-delete:hover {
  background: red !important;
  color: white !important;
}

.specialist-status {
  width: 100px;
}
.user-selection-img-dummy {
  height: 2.5rem;
  width: 2.5rem;
  border-radius: 50%;
  margin-left: 15px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: $gray-100;
}

.dummy-image {
  color: $gray-500;
}
