@import "../../styles/configs/_colors.scss";

.navigation {
  &-sidebar {
    min-width: 13.75rem;
    padding-top: 1.25rem;
    background-color: $theme_color_dark_blue;
  }
}

.small-navigation-sidebar {
  min-width: 4.75rem;

  a {
    span {
      font-size: 0;
    }

    img {
      margin: auto;
    }
  }
}
