@import "../../styles/globals";

.sidebar-modify {
  padding-top: 35px;
  background-color: $theme_color_2;
  color: $global_white_color;
  height: 100%;
}

.settings-container {
  display: grid;
  grid-template-columns: 20% 80%;
  height: 100%;
  width: 100%;
}

.sidebar-modify-container {
  background-color: $theme_color_2;
  flex: 0.14;
  min-width: 275px;
}

.sidebar-modify-container-toggle {
  flex: 0;
  min-width: 50px;
}

.dynamic-setting-content {
  flex: 1;
}

.page--bottom--settingsNav {
  display: flex;
  flex: 1;
  background-color: $white;
}

.small-sidebar-modify-container {
  min-width: 70px !important;
  flex: 0 !important;

  .sidebar-item {
    font-size: 0 !important;
  }

  .sidebar-icon {
    margin: 0 auto !important;
  }
}
