@import "../../../styles/configs/colors";

.predictions-wrapper {
  position: relative;

  .all-places-predictions {
    // border-radius: 0.6rem;
    background-color: $gray-400;
    z-index: 2;
    position: absolute;
    width: 100%;
    margin-top: 0.25rem;

    .prediction-place {
      // border-radius: 0.6rem;
      padding: 0.5rem 1rem;
      cursor: pointer;
      margin-bottom: 0.25rem;

      &:hover {
        background-color: $gray-200;
      }
    }
  }
}
