@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.section-heading {
  font-size: 1rem;
  font-weight: 500;
}

.traveller-detail-name {
  align-self: center;
  padding-left: 0.5rem;
}
