@import "../../styles/configs/_fonts.scss";
@import "../../styles/configs/_colors.scss";
@import "../../styles/configs/_ui.scss";

.dashboard {
  display: grid;
  align-items: center;
}

.dashboard-ratings {
  .dashboard-table {
    max-height: calc(100vh - 34rem);

    .table th:first-child {
      width: fit-content !important;
      min-width: fit-content !important;
      border-top-left-radius: 1rem;
      border-bottom-left-radius: 1rem;
    }
  }
}

.heading {
  font-size: x-large;
  font-weight: 400;
  display: grid;
  align-items: center;
  height: 60px;
}

.table-data-status {
  display: flex;
  min-height: 2rem;
  min-width: 5rem;
  align-items: center;
  border-radius: 2rem;
  justify-content: center;
  background-color: $theme_color_light_blue_2x;
}

.access-management-user {
  display: flex;
  flex-direction: column;
}

.create-specialist {
  background-color: $theme_color_blue;
  color: $theme_color_white;
}

.specialist-actions {
  display: flex;
  gap: 0.75rem;
  align-items: center;
}

.specialist-actions > div {
  background-color: $theme_color_light_blue_2x;
  padding: 2px 0.5rem;
  border-radius: 0.5rem;
}

.text {
  font-size: 0.75rem;
  color: $theme_color_8;
}

.chat-specialist {
  display: flex;
  font-size: 0.75rem;

  gap: 2px;
  background-color: $theme_color_blue;
  color: $theme_color_white;
}

.cancel-itinerary {
  display: flex;
  gap: 2px;
  font-size: 0.75rem;
  color: $theme_color_blue;
}
